@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&family=Spirax&display=swap');

.home-header{
    text-align: center;
    margin-top: 5px;
    text-shadow: 4px 4px 4px #5e5d5c;
}
.home-header h1{
    color: rgb(246, 246, 237);
    background-color: #f08024;
    font-size: 3rem;
    font-weight: 800;
    border-radius: 10px;  
    box-shadow: 2px 2px 5px rgb(180, 178, 178);
    display: block;
}
.intro-span{
    font-size: 20px;
    color: rgb(255, 255, 255);
    position: relative;
    padding-right: 2.5px;
    font-family: 'Source Sans 3', sans-serif;
    font-family: 'Spirax', cursive;
}
.home-header p{
    color: rgb(255, 255, 255);
    background: #676565;
    padding: .5rem;
    width: 80%;
    text-align: justify;
    margin: 0.1rem auto 4rem auto;
    border-radius: 10px;  
    font-size: 20px;
    font-weight: 400;
    box-shadow: 2px 2px 5px rgb(180, 178, 178);
}